body {
    font-family: Arial, sans-serif;
    background-color: #a5388a;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.background {
    padding: 50px;
    mix-blend-mode: lighten;
}

.container {
    background-color: #56d0c4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(221, 219, 219, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
}

button {
    background-color: #4caf50;
    color: #f6f0f0;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}


